@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Outfit:wght@100..900&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Sedan+SC&display=swap');
body {
    font-family: "Philosopher", serif;
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden;
}

/* Home page component css */
#homePageIntrodiv{
    background-image: url('./assets/images/bgImg2.png');
    background-size: cover;
    background-position: 'center';
}

#homePageIntrodivDark {
    background: none;
} 

@media (max-width: 640px) {
    #homePageIntrodiv {
      background-image: none;
      padding-top: 0;
      padding-bottom: 0;
    }
}

/* home page component css end */